@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
}
ul,ol{
	list-style:none;
}
body{
	font-family: "微软雅黑",Arial;
	background: #ffffff;
	display: -webkit-flex;
	flex-direction:column;
    /* position: relative; */
}
img{
	border: 0;
	display: block;
}
a{
	text-decoration: none;
}

body{
    position: relative;
}
/* 右边盒子最大的盒子 */
.content .rightBox{
    width: 80%;
    /* width: 100%; */
    height: 100%;
    background-color: #f2edf3;
}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    background-color: white;
    z-index:10;
}
.header .logo a img{
    width: 260px;
    height: 70px;
}
.header .personal{
    display: flex;
    width: 1003px;
    height: 70px;
    justify-content: space-between;
    padding: 0 24px;
    float: right;
}
.personal .search{
    display: flex;
}
.personal .search a{
    width: 17px;
    height: 17px;
    display: inline-block;
    padding: 26px 20px 26px 35px;
    color: #a7a9b0;
}
.personal .search input{
    display: inline-block;
    width: 146px;
    height: 29px;
    border: none;
    font-size: 10px;
    outline: none;
    padding: 20px 0;
    color: #9c9fa6;
}
.personal .title{
    display: flex;
    width: 516px;
    height: 32px;
    padding-top: 20px;
    justify-content: space-around;
}
.personal .title .myself{
    display: flex;
    /* width: 176px; */
    height: 32px;
}
.personal .title .myself a:nth-child(1){
    width: 32px;
    height: 32px;
}
.personal .title .myself a:nth-child(2){
    font-size:15px;
    line-height: 32px;
    display: flex;
    padding-left: 20px;
}
#jt{
    width: 8px;
    height:12px;
    padding: 11px 0 0 8px;
}
.title .biao{
    padding: 6px 0;
}
.he{
    display: none;
}
.content{
    margin-top: 70px;
    /* height: 100%; */
    display: flex;
    background-color: #f2edf3;
}
.content .leftBox{
    width: 260px;
    /* height: 100%; */
    background-color: white;
}
.content .leftBox .yonghu{
    width: 188px;
    height: 44px;
    display: flex;
    padding: 20px 36px;
}
.content .leftBox .yonghu p {
    width: 96px;
    height: 34px;
    padding-left: 16px;
}
.content .leftBox .yonghu span:nth-child(1){
    font-size: 13px;
    font-weight: 900;
}
.content .leftBox .yonghu span:nth-child(2){
    font-size: 8px;
    color: #dadada;
}
.content .leftBox .yonghu a:nth-child(3){
    width: 12px;
    height: 20px;
    padding: 15px 0 0 20px;
}
.content .leftBox .mnue{
    width: 188px;
    /* height:100%; */
    padding: 0 36px
}
.content .leftBox .mnue li a{
    width: 188px;
    height: 20px;
    font-size: 13px;
    display: flex;
    color: #5c6774;
    padding: 20px 0;
    line-height: 20px;
    justify-content: space-between;
}
.content .leftBox .mnue .a1{
    color: #bc7aff;
}
.content .leftBox .mnue li img{
    width: 14px;
    height: 13px;
    line-height: 20px;
    padding-top: 3px;
}
.content .leftBox .mnue li:last-child{
    border-bottom: 1px solid #ebedf2;
}
.content .leftBox .btn{
    width: 188px;
    height: 132px;
    padding: 24px 0 0 36px;
}
.content .leftBox .btn input{
    width: 188px;
    height: 46px;
    font-size: 10px;
    color: white;
    text-align: center;
    border: none;
    background-color: #cb7fff;
    font-weight: 900;
}
.content .leftBox .btn p{
    font-size: 12px;
    color: #dadada;
    padding-top: 29px;
    padding-bottom: 19px;
    border-bottom: 1px solid #ebedf2;
}
.content .leftBox .quan{
    width: 188px;
    height:100%;
    padding: 0 36px;
}
.content .leftBox .quan p{
    display: flex;
    width: 54px;
    height: 15px;
    padding-top: 24px;
}
.content .leftBox .quan p img{
    width: 15px;
    height: 15px;
}
.content .leftBox .quan p span{
    font-size: 10px;
    color: #3e4b5b;
    line-height: 15px;
    padding-left: 11px;
}
@media screen and (max-width:1000px){
    .leftBox{
        display: none;
    }
    .content .rightBox{
        width: 100%;
    }
}
@media screen and (max-width:800px){
    .personal .search{
        display: none;
    }
    .biao{
        width: 100%;
        flex-wrap: wrap;
    }
    .title .biao {
        display: none;
    }
    .personal .title {
        width: 100%;
        display: flex;
    }
    .he{
        display: block;
        margin-top: 10px;
        margin-left: 20px;
    }
    .personal .title .myself a:nth-child(2){
        display: none;
    }
}